lxml==5.4.0
beautifulsoup4==4.13.4
Pillow==9.4.0
# 5.15.6 stuck on m1 Ventura 13.5, 5.15.10 is fine
PyQt5==5.15.10
zhconv==1.4.3
langid==1.1.6
opencv-contrib-python-headless==4.7.0.68
numpy==1.26.4 # 避免安装 numpy 2 导致 opencv 不兼容
ping3==4.0.4
oshash==0.1.1
curl-cffi==0.11.4
openai==1.91.0
aiolimiter==1.2.1
aiofiles==24.1.0